<div class="container search">
<%= form_tag '/search' do %>
  <%= search_field_tag :term %>
  <%= submit_tag 'Search' %>
<% end %>
</div>




<p>
  <strong>First name:</strong>
  <%= current_user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= current_user.last_name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag current_user.picture_url(:thumb) %>
</p>

<p>
  <strong>Bio:</strong>
  <%= current_user.bio %>
</p>

<h1>My Bucket Lists</h1>

<% @bucket_lists.each do |bucket_list| %>
<div class="bucket_list" id="<%= dom_id(bucket_list) %>">
  <h2><%= bucket_list.title %></h2>
  <p><%= bucket_list.description %></p>
  <ul class="functions">
    <li><%= link_to 'List Items', bucket_list_bucketlist_items_path(bucket_list) %></li>
    <li><%= link_to 'Album', bucket_list_post_attachments_path(bucket_list) %></li>
    <li><%= link_to 'Show', bucket_list %></li>
    <li><%= link_to 'Edit', edit_bucket_list_path(bucket_list) %></li>
    <li><%= link_to 'Destroy', bucket_list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <br>
</div>
<% end %>

<br>

<%= link_to 'New Bucket list', new_bucket_list_path %>
