<p id="notice"><%= notice %></p>

<p>
  <strong>Bucket List:</strong>
  <%= @post_attachment.bucket_list_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @post_attachment.avatar_url, :size => "150x150" %>
</p>


<%= link_to 'Edit', edit_bucket_list_post_attachment_path(@bucket_list, @post_attachment) %> |
<%= link_to 'Back', bucket_list_post_attachments_path %>
